ul {
  display: table; 
  margin: 0 auto;
  text-align: left;
}

.row {
  padding: 25px;
}

.monCard {
  background-color: #FF2E2E;
}

.monHover:hover {
  background-color: #A30000;
}

.monBattling {
  background-color: #A30000;
}

.dark {
  background-color: #333;
  color: #fff;
}

.light {
  background-color: #E7E7E7;
  color: #333;
}